body{
    background-color: blueviolet;
}
.welcome{
    text-align: center;
    background-color: brown;
    
}
.logo img{
    width: 200px;
    height: 400px;
    left: 85%;
    position: absolute;
    border:10px solid black ;
    border-radius: 60%;
}
.my-social{
    color: aliceblue;
    position: relative;
    width: fit-content;
    background-color: black;
    left: 1%;
}
.my-social img{
    width: 40px;
    background-color: black;
}
.contact{
    position: relative;
     left: 1%;
     background-color: blue;
     width: fit-content;
     color: aliceblue;
}
.look button{
    position:absolute ;
    text-align: center;
    left: 45%;
    padding: 10px 15px;
    background-color: blue;
    color: aliceblue;
    
}